body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1545091741-2231068f3478?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h1 {
    margin-top: 0;
    color: #ff0000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f4f809;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 15px;
    color: #28a745;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 15px;
    color: #28a745;
}

.button-link {
    display: inline-block;
    background-color: #007bff;;
    color: white;
    padding: 10px 7px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #0056b3;
}


#produtosTable {
    width: 100%;
    border-collapse: collapse;
}

#produtosTable th,
#produtosTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#produtosTable th {
    background-color: #007bff;
    color: white;
}

#produtosTable td {
    background-color: #f9f9f9;
    color: #333;
}

button.edit-button {
    background-color: #17a2b8; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px; 
}

button.edit-button:hover {
    background-color: #138496;
}

button.remove-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button.remove-button:hover {
    background-color: #c82333; 
}